@import "tailwindcss";

/* 
@keyframes gradientAnimation {
    0% {
        background-position: 10% 10%;
    }
    100% {
        background-position: 90% 50%;
    }
    50% {
        background-position: 40% 90%;
    }
}

#root {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-100deg, #35325d 0%, #020304 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite alternate;
} */

*{
   font-family: sans-serif;
}

@layer utilities {
  @keyframes gradientMove {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient-move {
    animation: gradientMove 10s ease infinite;
  }
}
